<!DOCTYPE HTML>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    </head>
    

    <!-- Sidebar Profile Account -->
    <div id="header">   
        <h1><i class="fa fa-instagram fa-6"></i></h1>
        <h2>{{user.username}}</h2>
    </div>

    <!-- Main section, displaying feed -->
    <div id="main">

        {{#each photos}}
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">{{postedby}}</h3>
            </div>
            <div class="panel-body">
                <img src="{{url}}" class="img-responsive" class="img hashtag-img">
                <div id="caption-div"> {{caption}} </div>
            </div>
        </div>
        {{/each}}

    </div>


</html> 