<!doctype html>
<html>

<!-- Stylesheets I guess -->
<link rel="stylesheet" type="text/css" href="css/account.css">


<head>
    <div class="login-div">
        <a class="btn" href="/auth/instagram">Login with Instaham</a>
        <a class="btn" href="/auth/facebook">Login with BookFace</a>
    </div>
</head>


</html>

