<!doctype html>
<html>
<head>
<!-- Stylesheets I guess -->
<link rel="stylesheet" type="text/css" href="css/loginLayout.css">
	<div class="title-div">
		<center><h1>Welcome! Please log in with a provider:<h1></center>
	</div>
    <div class="login-div">
        <a class="btn" href="/auth/instagram">Login with Instaham</a>
        <a class="btn" href="/auth/facebook">Login with BookFace</a>
    </div>
</head>


</html>

